.nav-2{
    padding-left: 2%;
    padding-right: 2%;
}
.hero{
    height: 500px;
}
.hero-image {
        background-image: linear-gradient(rgba(217, 250, 233, 0.5), rgba(241, 243, 243, 0.5)), url('images/cover.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero-text{
        top:300px;
    }
  }


  #about{
      height:500px;
      background: #70af85;
  }